schemas/abrasf_203/nfse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.abrasf.org.br/nfse.xsd" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="unqualified" targetNamespace="http://www.abrasf.org.br/nfse.xsd" version="1.0">

  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>

  <xs:element name="CancelarNfseEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Pedido" type="tns:tcPedidoCancelamento"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CancelarNfseResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetCancelamento" type="tns:tcRetCancelamento"/>
        <xs:element minOccurs="0" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CompNfse" type="tns:tcCompNfse"/>

  <xs:element name="ConsultarLoteRpsEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Prestador" type="tns:tcIdentificacaoPrestador"/>
        <xs:element name="Protocolo" type="xs:string"/>
        <xs:element form="qualified" minOccurs="0" name="Signature" type="ns1:SignatureType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ConsultarLoteRpsResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Situacao" type="xs:byte"/>
        <xs:element minOccurs="0" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse"/>
              <xs:element minOccurs="0" name="ListaMensagemAlertaRetorno">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ListaMensagemRetorno"/>
        <xs:element minOccurs="0" name="ListaMensagemRetornoLote">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetornoLote"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ConsultarNfseFaixaEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Prestador" type="tns:tcIdentificacaoPrestador"/>
        <xs:element name="Faixa">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NumeroNfseInicial" type="xs:nonNegativeInteger"/>
              <xs:element minOccurs="0" name="NumeroNfseFinal" type="xs:nonNegativeInteger"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Pagina" type="xs:nonNegativeInteger"/>
        <xs:element form="qualified" minOccurs="0" name="Signature" type="ns1:SignatureType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ConsultarNfseFaixaResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse"/>
              <xs:element minOccurs="0" name="ProximaPagina" type="xs:nonNegativeInteger"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ConsultarNfseRpsEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IdentificacaoRps" type="tns:tcIdentificacaoRps"/>
        <xs:element name="Prestador" type="tns:tcIdentificacaoPrestador"/>
        <xs:element form="qualified" minOccurs="0" name="Signature" type="ns1:SignatureType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ConsultarNfseRpsResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompNfse" type="tns:tcCompNfse"/>
        <xs:element minOccurs="0" name="ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ConsultarNfseServicoPrestadoEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Prestador" type="tns:tcIdentificacaoPrestador"/>
        <xs:element minOccurs="0" name="NumeroNfse" type="xs:nonNegativeInteger"/>
        <xs:element minOccurs="0" name="PeriodoEmissao">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataInicial" type="xs:date"/>
              <xs:element name="DataFinal" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="PeriodoCompetencia">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataInicial" type="xs:date"/>
              <xs:element name="DataFinal" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Tomador" type="tns:tcIdentificacaoTomador"/>
        <xs:element minOccurs="0" name="Intermediario" type="tns:tcIdentificacaoIntermediario"/>
        <xs:element name="Pagina" type="xs:nonNegativeInteger"/>
        <xs:element form="qualified" minOccurs="0" name="Signature" type="ns1:SignatureType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ConsultarNfseServicoPrestadoResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse"/>
              <xs:element minOccurs="0" name="ProximaPagina" type="xs:nonNegativeInteger"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ConsultarNfseServicoTomadoEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Consulente" type="tns:tcIdentificacaoConsulente"/>
        <xs:element minOccurs="0" name="NumeroNfse" type="xs:nonNegativeInteger"/>
        <xs:element minOccurs="0" name="PeriodoEmissao">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataInicial" type="xs:date"/>
              <xs:element name="DataFinal" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="PeriodoCompetencia">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataInicial" type="xs:date"/>
              <xs:element name="DataFinal" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Prestador" type="tns:tcIdentificacaoPrestador"/>
        <xs:element minOccurs="0" name="Tomador" type="tns:tcIdentificacaoTomador"/>
        <xs:element minOccurs="0" name="Intermediario" type="tns:tcIdentificacaoIntermediario"/>
        <xs:element name="Pagina" type="xs:nonNegativeInteger"/>
        <xs:element form="qualified" minOccurs="0" name="Signature" type="ns1:SignatureType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ConsultarNfseServicoTomadoResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse"/>
              <xs:element minOccurs="0" name="ProximaPagina" type="xs:nonNegativeInteger"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="EnviarLoteRpsEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LoteRps" type="tns:tcLoteRps"/>
        <xs:element form="qualified" minOccurs="0" name="Signature" type="ns1:SignatureType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="EnviarLoteRpsResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroLote" type="xs:nonNegativeInteger"/>
        <xs:element minOccurs="0" name="DataRecebimento" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="Protocolo" type="xs:string"/>
        <xs:element minOccurs="0" name="ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="EnviarLoteRpsSincronoEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LoteRps" type="tns:tcLoteRps"/>
        <xs:element form="qualified" minOccurs="0" name="Signature" type="ns1:SignatureType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="EnviarLoteRpsSincronoResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroLote" type="xs:nonNegativeInteger"/>
        <xs:element minOccurs="0" name="DataRecebimento" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="Protocolo" type="xs:string"/>
        <xs:element minOccurs="0" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse"/>
              <xs:element minOccurs="0" name="ListaMensagemAlertaRetorno"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ListaMensagemRetorno"/>
        <xs:element minOccurs="0" name="ListaMensagemRetornoLote"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GerarNfseEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Rps" type="tns:tcDeclaracaoPrestacaoServico"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GerarNfseResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CompNfse" type="tns:tcCompNfse"/>
              <xs:element minOccurs="0" name="ListaMensagemAlertaRetorno"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ListaMensagemAlertaRetorno"/>

  <xs:element name="ListaMensagemRetorno"/>

  <xs:element name="ListaMensagemRetornoLote"/>

  <xs:element name="SubstituirNfseEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SubstituicaoNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Pedido" type="tns:tcPedidoCancelamento"/>
              <xs:element name="Rps" type="tns:tcDeclaracaoPrestacaoServico"/>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" minOccurs="0" name="Signature" type="ns1:SignatureType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SubstituirNfseResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetSubstituicao">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NfseSubstituida">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompNfse" type="tns:tcCompNfse"/>
                    <xs:element minOccurs="0" name="ListaMensagemAlertaRetorno"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="NfseSubstituidora">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompNfse" type="tns:tcCompNfse"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="cabecalho">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="versaoDados" type="xs:token"/>
      </xs:sequence>
      <xs:attribute name="versao" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="tcIdentificacaoRps">
    <xs:sequence>
      <xs:element name="Numero" type="xs:nonNegativeInteger"/>
      <xs:element name="Serie" type="xs:string"/>
      <xs:element name="Tipo" type="xs:byte"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcIdentificacaoPrestador">
    <xs:sequence>
      <xs:element minOccurs="0" name="CpfCnpj" type="tns:tcCpfCnpj"/>
      <xs:element minOccurs="0" name="InscricaoMunicipal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcCpfCnpj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cpf" type="xs:string"/>
      <xs:element minOccurs="0" name="Cnpj" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcCompNfse">
    <xs:sequence>
      <xs:element name="Nfse" type="tns:tcNfse"/>
      <xs:element minOccurs="0" name="NfseCancelamento" type="tns:tcCancelamentoNfse"/>
      <xs:element minOccurs="0" name="NfseSubstituicao" type="tns:tcSubstituicaoNfse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcNfse">
    <xs:sequence>
      <xs:element name="InfNfse" type="tns:tcInfNfse"/>
      <xs:element minOccurs="0" ref="ns1:Signature"/>
    </xs:sequence>
    <xs:attribute name="versao" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="tcInfNfse">
    <xs:sequence>
      <xs:element name="Numero" type="xs:nonNegativeInteger"/>
      <xs:element name="CodigoVerificacao" type="xs:string"/>
      <xs:element name="DataEmissao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="NfseSubstituida" type="xs:nonNegativeInteger"/>
      <xs:element minOccurs="0" name="OutrasInformacoes" type="xs:string"/>
      <xs:element name="ValoresNfse" type="tns:tcValoresNfse"/>
      <xs:element minOccurs="0" name="ValorCredito" type="xs:decimal"/>
      <xs:element name="PrestadorServico" type="tns:tcDadosPrestador"/>
      <xs:element name="OrgaoGerador" type="tns:tcIdentificacaoOrgaoGerador"/>
      <xs:element name="DeclaracaoPrestacaoServico" type="tns:tcDeclaracaoPrestacaoServico"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="tcValoresNfse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseCalculo" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Aliquota" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorIss" type="xs:decimal"/>
      <xs:element name="ValorLiquidoNfse" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcDadosPrestador">
    <xs:sequence>
      <xs:element name="IdentificacaoPrestador" type="tns:tcIdentificacaoPrestador"/>
      <xs:element name="RazaoSocial" type="xs:string"/>
      <xs:element minOccurs="0" name="NomeFantasia" type="xs:string"/>
      <xs:element name="Endereco" type="tns:tcEndereco"/>
      <xs:element minOccurs="0" name="Contato" type="tns:tcContato"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcEndereco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Endereco" type="xs:string"/>
      <xs:element minOccurs="0" name="Numero" type="xs:string"/>
      <xs:element minOccurs="0" name="Complemento" type="xs:string"/>
      <xs:element minOccurs="0" name="Bairro" type="xs:string"/>
      <xs:element minOccurs="0" name="CodigoMunicipio" type="xs:int"/>
      <xs:element minOccurs="0" name="Uf" type="xs:string"/>
      <xs:element minOccurs="0" name="CodigoPais" type="xs:string"/>
      <xs:element minOccurs="0" name="Cep" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcContato">
    <xs:sequence>
      <xs:element minOccurs="0" name="Telefone" type="xs:string"/>
      <xs:element minOccurs="0" name="Email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcIdentificacaoOrgaoGerador">
    <xs:sequence>
      <xs:element name="CodigoMunicipio" type="xs:int"/>
      <xs:element name="Uf" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcDeclaracaoPrestacaoServico">
    <xs:sequence>
      <xs:element name="InfDeclaracaoPrestacaoServico" type="tns:tcInfDeclaracaoPrestacaoServico"/>
      <xs:element minOccurs="0" ref="ns1:Signature"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcInfDeclaracaoPrestacaoServico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rps" type="tns:tcInfRps"/>
      <xs:element name="Competencia" type="xs:date"/>
      <xs:element name="Servico" type="tns:tcDadosServico"/>
      <xs:element name="Prestador" type="tns:tcIdentificacaoPrestador"/>
      <xs:element minOccurs="0" name="Tomador" type="tns:tcDadosTomador"/>
      <xs:element minOccurs="0" name="Intermediario" type="tns:tcDadosIntermediario"/>
      <xs:element minOccurs="0" name="ConstrucaoCivil" type="tns:tcDadosConstrucaoCivil"/>
      <xs:element minOccurs="0" name="RegimeEspecialTributacao" type="xs:byte"/>
      <xs:element name="OptanteSimplesNacional" type="xs:byte"/>
      <xs:element name="IncentivoFiscal" type="xs:byte"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="tcInfRps">
    <xs:sequence>
      <xs:element name="IdentificacaoRps" type="tns:tcIdentificacaoRps"/>
      <xs:element name="DataEmissao" type="xs:date"/>
      <xs:element name="Status" type="xs:byte"/>
      <xs:element minOccurs="0" name="RpsSubstituido" type="tns:tcIdentificacaoRps"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="tcDadosServico">
    <xs:sequence>
      <xs:element name="Valores" type="tns:tcValoresDeclaracaoServico"/>
      <xs:element name="IssRetido" type="xs:byte"/>
      <xs:element minOccurs="0" name="ResponsavelRetencao" type="xs:byte"/>
      <xs:element minOccurs="0" name="ItemListaServico" type="xs:string"/>
      <xs:element name="CodigoCnae" type="xs:int"/>
      <xs:element minOccurs="0" name="CodigoTributacaoMunicipio" type="xs:string"/>
      <xs:element minOccurs="0" name="CodigoNbs" type="xs:string"/>
      <xs:element name="Discriminacao" type="xs:string"/>
      <xs:element name="CodigoMunicipio" type="xs:int"/>
      <xs:element minOccurs="0" name="CodigoPais" type="xs:string"/>
      <xs:element name="ExigibilidadeISS" type="xs:byte"/>
      <xs:element minOccurs="0" name="MunicipioIncidencia" type="xs:int"/>
      <xs:element minOccurs="0" name="NumeroProcesso" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcValoresDeclaracaoServico">
    <xs:sequence>
      <xs:element name="ValorServicos" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorDeducoes" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorPis" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorCofins" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorInss" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorIr" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorCsll" type="xs:decimal"/>
      <xs:element minOccurs="0" name="OutrasRetencoes" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValTotTributos" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorIss" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Aliquota" type="xs:decimal"/>
      <xs:element minOccurs="0" name="DescontoIncondicionado" type="xs:decimal"/>
      <xs:element minOccurs="0" name="DescontoCondicionado" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcDadosTomador">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdentificacaoTomador" type="tns:tcIdentificacaoTomador"/>
      <xs:element minOccurs="0" name="NifTomador" type="xs:string"/>
      <xs:element minOccurs="0" name="RazaoSocial" type="xs:string"/>
      <xs:element minOccurs="0" name="Endereco" type="tns:tcEndereco"/>
      <xs:element minOccurs="0" name="Contato" type="tns:tcContato"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcIdentificacaoTomador">
    <xs:sequence>
      <xs:element minOccurs="0" name="CpfCnpj" type="tns:tcCpfCnpj"/>
      <xs:element minOccurs="0" name="InscricaoMunicipal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcDadosIntermediario">
    <xs:sequence>
      <xs:element name="IdentificacaoIntermediario" type="tns:tcIdentificacaoIntermediario"/>
      <xs:element name="RazaoSocial" type="xs:string"/>
      <xs:element name="CodigoMunicipio" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcIdentificacaoIntermediario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CpfCnpj" type="tns:tcCpfCnpj"/>
      <xs:element minOccurs="0" name="InscricaoMunicipal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcDadosConstrucaoCivil">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoObra" type="xs:string"/>
      <xs:element name="Art" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcCancelamentoNfse">
    <xs:sequence>
      <xs:element name="Confirmacao" type="tns:tcConfirmacaoCancelamento"/>
      <xs:element minOccurs="0" ref="ns1:Signature"/>
    </xs:sequence>
    <xs:attribute name="versao" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="tcConfirmacaoCancelamento">
    <xs:sequence>
      <xs:element name="Pedido" type="tns:tcPedidoCancelamento"/>
      <xs:element name="DataHora" type="xs:dateTime"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="tcPedidoCancelamento">
    <xs:sequence>
      <xs:element name="InfPedidoCancelamento" type="tns:tcInfPedidoCancelamento"/>
      <xs:element minOccurs="0" ref="ns1:Signature"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcInfPedidoCancelamento">
    <xs:sequence>
      <xs:element name="IdentificacaoNfse" type="tns:tcIdentificacaoNfse"/>
      <xs:element minOccurs="0" name="CodigoCancelamento" type="xs:byte"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="tcIdentificacaoNfse">
    <xs:sequence>
      <xs:element name="Numero" type="xs:nonNegativeInteger"/>
      <xs:element name="CpfCnpj" type="tns:tcCpfCnpj"/>
      <xs:element minOccurs="0" name="InscricaoMunicipal" type="xs:string"/>
      <xs:element name="CodigoMunicipio" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcSubstituicaoNfse">
    <xs:sequence>
      <xs:element name="SubstituicaoNfse" type="tns:tcInfSubstituicaoNfse"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:Signature"/>
    </xs:sequence>
    <xs:attribute name="versao" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="tcInfSubstituicaoNfse">
    <xs:sequence>
      <xs:element name="NfseSubstituidora" type="xs:nonNegativeInteger"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="tcMensagemRetorno">
    <xs:sequence>
      <xs:element name="Codigo" type="xs:string"/>
      <xs:element name="Mensagem" type="xs:string"/>
      <xs:element minOccurs="0" name="Correcao" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcIdentificacaoConsulente">
    <xs:sequence>
      <xs:element name="CpfCnpj" type="tns:tcCpfCnpj"/>
      <xs:element minOccurs="0" name="InscricaoMunicipal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcLoteRps">
    <xs:sequence>
      <xs:element name="NumeroLote" type="xs:nonNegativeInteger"/>
      <xs:element name="CpfCnpj" type="tns:tcCpfCnpj"/>
      <xs:element minOccurs="0" name="InscricaoMunicipal" type="xs:string"/>
      <xs:element name="QuantidadeRps" type="xs:int"/>
      <xs:element name="ListaRps">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Rps" type="tns:tcDeclaracaoPrestacaoServico"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
    <xs:attribute name="versao" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="tcMensagemRetornoLote">
    <xs:sequence>
      <xs:element name="IdentificacaoRps" type="tns:tcIdentificacaoRps"/>
      <xs:element name="Codigo" type="xs:string"/>
      <xs:element name="Mensagem" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tcRetCancelamento">
    <xs:sequence>
      <xs:element name="NfseCancelamento" type="tns:tcCancelamentoNfse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="tsUf">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AC"/>
      <xs:enumeration value="AL"/>
      <xs:enumeration value="AM"/>
      <xs:enumeration value="AP"/>
      <xs:enumeration value="BA"/>
      <xs:enumeration value="CE"/>
      <xs:enumeration value="DF"/>
      <xs:enumeration value="ES"/>
      <xs:enumeration value="GO"/>
      <xs:enumeration value="MA"/>
      <xs:enumeration value="MG"/>
      <xs:enumeration value="MS"/>
      <xs:enumeration value="MT"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="PB"/>
      <xs:enumeration value="PE"/>
      <xs:enumeration value="PI"/>
      <xs:enumeration value="PR"/>
      <xs:enumeration value="RJ"/>
      <xs:enumeration value="RN"/>
      <xs:enumeration value="RO"/>
      <xs:enumeration value="RR"/>
      <xs:enumeration value="RS"/>
      <xs:enumeration value="SC"/>
      <xs:enumeration value="SE"/>
      <xs:enumeration value="SP"/>
      <xs:enumeration value="TO"/>
      <xs:enumeration value="EX"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>